<!DOCTYPE html>
<html>
  <head>
    <title>ElectionResults</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a href="/"><%=image_tag("home.jpg",class:"img")%></a>
    <%= yield %>
  </body>
</html>
<style>
  html{
    width:100%;
    position: fixed;
  }
  .img
  {
    margin:5px;
    height:40px;
    width:40px;
    border-radius: 40px;
  }
  </style>
